body {
    padding-left: 20px;
    padding-right:20px;
    background: #E1DFE0; 
}



#photoWrapper {
    width: 50%;
    margin-left: 25%;
    background-color: #C8A57F;
    padding: 20px 20px 20px 20px;
    
}

#thePhoto {
    width: 100%;   
}

button {
    background: #736D61;
    color: #E1DFE0;    
}
#forwardButton {
    position: relative;
    float: right;
}

.centerMe {
    text-align: center; 
    color: #2E495A;
}
.bigWrapper {
    background-color: #BOA798;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h1 {
 font-family: 'Lobster Two', cursive;  
}
p {
 font-family: 'Rokkitt', serif;   
}
#video {
    width: 50%;
    margin-left: 25%; 
}